.sidebar {
    background-color: white;
    border-width: 0px;
    border-left: 5px black solid;
    width: 30vw;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 0;
    margin: 0 0;
    height: 100vh;
    z-index: 999999;

    /* grid */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2px;
    column-gap: 5px;
    grid-auto-rows: max-content;
}

.hideButton {
    grid-column: 1/3;
}

.reviewButton {
    grid-column: 1/3;
}

.form {
    display: block;
    grid-column: 1/3;
}

.form>fieldset {
    display: flex;
    flex-flow: column nowrap;
}

.form>* {
    width: 100%;
}

.form>fieldset>div {
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: grid;
    grid-template-columns: 0fr 1fr;
}
.form>fieldset>div>input {
    grid-column: 1;
}
.form>fieldset>div>label {
    grid-column: 2;
    margin-top: auto;
    margin-bottom: auto;
}