.sidebar {
    background-color: white;
    border-width: 0px;
    border-left: 5px black solid;
    width: 30vw;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 0;
    margin: 0 0;
    height: 100vh;
    z-index: 999999;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    display: flex;
}

        